<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<img src="img/logo.png" alt="Logo">
	<h1><%= title %></h1>
	<a href="/television">Favorite Television Series</a>
	<a href="/books">Favorite Books</a>
</body>
</html>